.body{
    background-color: #16161d;
    color: white;
    height:500px ;
  
}
.formulario{
    align-items: center;
    border: 2px solid white;
   width: 300px;
  justify-content: center;
box-shadow: 2px 2px 20px white;
margin-left: 600px;
border-radius: 20px;
}
h2{
    text-align: center;
}
a{
    color: white;
}
.int{
    width: 250px;
    border-radius: 20px;
}
.iniciosesion{
    padding: 4px;
    background-color: #4CAF50;
    border-radius: 20px;
    color: white;
}