.body{
    background-color: #16161d;
    color: white;
    height:500px ;
  
}
.formularioregistro{
    border: 2px solid white;
    width: 400px;
    box-shadow: 2px 2px 20px white;
    margin-left: 550px;
    border-radius: 20px;
}
h2{
    text-align: center;
}
a{
    color: white;
}
input{
    width: 350px;
    border-radius: 20px;
}
.contenedor {
    padding: auto;
    text-align:left ;
    margin-left: 20px;
}
.registro{
    padding: 4px;
    background-color: #4CAF50;
    border-radius: 20px;
    color: white;
}
